body {
    background: #000a00;
    color: #00ff00;
    /*    font-size: x-large;*/
    /*    display: flex;*/
    /*    justify-content: space-between;*/
    /*    align-items: center;*/
    /*    font-weight: bold;*/
    /*    text-shadow: 1px 1px 3px #000a00, -1px -1px 3px #000a00;*/
    /*}*/
}
.wrapper {
    height: 60px;
    color: #00ff00;
    font-size: x-large;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    text-shadow: 1px 1px 3px #000a00, -1px -1px 3px #000a00;
    border-bottom: 2px solid #00ff00;
    margin-bottom: 20px;
}

.wrapper2 {
    margin-top: 10px;
    min-height: 100px;
    max-height: max-content;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    font-size: x-large;
    width: 100%;
}
input {
    margin-bottom: 20px;
    outline: 0;
    background: black;
    border: none;

    height: 15px;
}

input:focus {
    background: #40e72e;
    color: black;
    font-size: medium;
    font-weight: bold;
}

.form label:after {
    content: '';
    /*display: none;*/
    position: absolute;
    left: -20px;
    width: 10px;
    height: 20px;
    background: black;
    opacity: 1;
    z-index: 3;
    color: #65dc5d;
}

.form input:not(:focus) {
    display: inline-block;
    width: 5px;
    margin-right: 30px;
    /*animation: cursor 1.5s infinite step-start;*/
    animation: cursor 1.5s steps(1) infinite;

}

@keyframes cursor {
    50% { background: #00ff00; }
}

div {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow-x: hidden;
}

.p {
    margin-left: 40px;
}

.allItems {
    display: flex;
    width: 25%;
    align-items: center;
}

.allItems2 {
    display: flex;
    position: relative;
    width: 25%;
    align-items: center;
}

.item {
    align-items: center;
    width: 25%;
    padding-right: 5px;
}
.item2 {

    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    width: 25%;
    padding-right: 5px;
}

.itemChildren {
    width: 25%;
    display: flex;
    align-items: center;
}

.itemChildren2 {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
}

.itemLinealChildren {
    display: flex;
    align-items: center;
    width: 25%;
}

.itemLinealChildren2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
}

.itemAllParents {
    display: flex;
    align-items: center;
    width: 25%;
}

.itemAllParents2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
}

.itemAllParents:hover {
    text-shadow: 0 0 5px #40e72e;
    font-size: xx-large;
}




.itemLinealChildren:hover {
    text-shadow: 0 0 5px #40e72e;
    font-size: xx-large;
}
.itemChildren:hover {
    text-shadow: 0 0 5px #40e72e;
    font-size: xx-large;
}
.item:hover {
    text-shadow: 0 0 5px #40e72e;
    font-size: xx-large;
}

.allItems:hover {
    text-shadow: 0 0 5px #40e72e;
    font-size: xx-large;
}

